header
  a.name(href="/") Kuon Yagi
  .wrap
    .icons
      a(href="") <i class="fab fa-instagram"></i>
      a(href="") <i class="fab fa-twitter"></i>
      a(href="https://www.wantedly.com/users/48483598", target="_blank") Wantedly
    .menuIcon.js-menuBtn
  nav.global-nav
    ul.global-nav__list
      li.js-menuBtn: a(href="./") HOME
      li.js-menuBtn: a(href="./reile.html") WORKS
      li.js-menuBtn: a(href="./about.html") ABOUT ME
      li.js-menuBtn: a(href="./#contact") CONTACT